<div class="main">
  <div class="left">
    <ul>
      <li class="menu-heading">Dashboards</li>
      <li><a data-toggle="tab"routerLink="/home"><i class="fa fa-home fa-lg"></i> Home</a></li>
      <li><a data-toggle="tab" routerLink="/produits"><i class="fa fa-table fa-lg"></i> Produits</a></li>
      <li><a data-toggle="tab" href="#"><i  class="fa fa-table fa-lg"></i> Category</a></li>
      <li><a data-toggle="tab" href="#"><i  class="fa fa-table fa-lg"></i> Commandes</a></li>
      <li><a data-toggle="tab" href="#"><i class="fa fa-table fa-lg"></i> Logout</a></li>
      <li class="menu-heading">Pages</li>
      <li class="active"><a data-toggle="tab" href="#"><i class="fa fa-street-view fa-lg"></i> User Profile</a></li>
    </ul>
  </div>
  <div class="right">
    <div class="tab-content">
      <!-- User Profile -->
      <div id="user-profile" class="tab-pane fade in active">
        <div class="header">
            <h4>User Profile</h4>
            <ul class="navbar-nav">
              <li><a href="#" >Logout</a></li>
            </ul>
          </div>

      </div>
  </div>
</div>

