
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

/* Color Variables */
/* Styles */
body {
  background: #e3e5e6;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}



.text-green {
  color: green !important;
}


/* Custom scrollbar */
.main ::-webkit-scrollbar {
  width: 5px;
}
.main ::-webkit-scrollbar-track {
  border-radius: 10px;
}
.main ::-webkit-scrollbar-thumb {
  background: #5d7090;
  border-radius: 10px;
}
.main ::-webkit-scrollbar-thumb:hover {
  background: #495871;
}

/* Left Menu */
.left {
  /* margin-top: -3em; */
  width: 57px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #354052;
  position: fixed;
  transition: all 0.5s;
}
.left:hover {
  width: 200px;
}
.left:hover ul li.menu-heading {
  opacity: 1;
}
.left ul {
  padding-left: 0;
}
.left ul li {
  list-style-type: none;
}
.left ul li.active a {
  background: #00b300;
  color: white;
}
.left ul li.active a:hover {
  background: #009a00;
}
.left ul li a {
  display: flex;
  align-items: center;
  background: #354052;
  color: white;
  padding: 15px 10px;
  font-size: 13px;
  width: 200px;
  border-bottom: 1px solid #2b3443;
}
.left ul li a:hover {
  background: #2b3443;
  text-decoration: none;
}
.left ul li a:hover i.fa {
  color: #00b300;
}
.left ul li a:focus {
  text-decoration: none;
}
.left ul li a i.fa {
  width: 50px;
  text-align: center;
  padding-right: 15px;
  transition: all 1s;
}
.left ul .menu-heading {
  opacity: 0;
  padding: 10px 5px 10px 10px;
  color: #b3b300;
  font-size: smaller;
  border-bottom: 1px solid #2b3443;
  transition: all 0.5s;
}



.left:hover + .right {
  margin-left: 215px;
}

.strike {
  color: #999999;
}

hr {
  border-top: 1px solid #e6e6e6;
  margin: 10px 0;
}

.py-15 {
  padding: 15px 0;
}


.navbar-nav{
  color: #2b3443;
}

.right #user-profile .header {
  background: white;
  display: block;
  border: 1px solid #e6e6e6;
  padding: 15px 30px;
  margin-left: -15px;
}
.right #user-profile .header h4 {
  display: inline-block;
  color: #354052 !important;
}










